Repository JuHyun419/one-line-course, pull requests merged in 2021-04, with the labels that each got.

#41 feat(back): 강의, 댓글 Entity 구현(#39, #40)
  back/pom.xml
  back/src/main/java/com/github/oneline/onelinecourse/model/comment/Comments.java
  back/src/main/java/com/github/oneline/onelinecourse/model/lecture/Lectures.java
Labels: Back-End, Comment, Lecture

#44 feat(front): 메뉴 컴포넌트 구현 (#1)
  front/documents/component/menu-component.md
  front/documents/component/nav-component.md
  front/documents/component/search-component.md
  front/documents/page/01.landing-page.md
  front/documents/page/02.signin-page.md
  front/documents/page/03.main-page.md
  front/documents/page/04.search-result-grid.md
  front/documents/page/05.search-result-list.md
  front/documents/page/06.lecture-detail-popup.md
  front/documents/page/07.bookmarks-page.md
  front/documents/page/08.comments-page.md
  front/documents/resources/component/menu-component.jpg
  front/documents/resources/component/nav-component-flowchart.png
  front/documents/resources/component/nav-component.png
  front/documents/resources/component/search-component.jpg
  front/documents/resources/page/01.landing-page-flowchart.png
  front/documents/resources/page/01.landing-page.jpg
  front/documents/resources/page/02.signin-page.jpg
  front/documents/resources/page/03.main-page.jpg
  front/documents/resources/page/04.search-result-grid.jpg
  front/documents/resources/page/05.search-result-list.jpg
  front/documents/resources/page/06.lecture-detail-popup.jpg
  front/documents/resources/page/07.bookmarks-page.jpg
  front/documents/resources/page/08.comments-page.jpg
Labels: Front-End, Reusable, feature

#49 feat(back): 인프런 크롤링 코드 추가(#27)
  back/pom.xml
  back/src/main/java/com/github/oneline/onelinecourse/util/crawling/InflearnCrawling.java
  back/src/main/java/com/github/oneline/onelinecourse/util/crawling/InflearnVo.java
Labels: Back-End, Crawling

#54 feat(back): 유저 로그인 일부 구현(#9)
  back/src/main/java/com/github/oneline/onelinecourse/controller/user/UserController.java
  back/src/main/java/com/github/oneline/onelinecourse/dto/user/CreateUserRequestDto.java
  back/src/main/java/com/github/oneline/onelinecourse/dto/user/ResponseUserDto.java
  back/src/main/java/com/github/oneline/onelinecourse/model/user/User.java
  back/src/main/java/com/github/oneline/onelinecourse/repository/user/UserRepository.java
  back/src/main/java/com/github/oneline/onelinecourse/service/user/UserService.java
Labels: Back-End, User

#59 feat(back): 유저 로그인 구현 model 수정(#9)
  back/src/main/java/com/github/oneline/onelinecourse/model/user/User.java
Labels: Back-End, User

#58 feat(back): 북마크 구현 일부(#12, #14)
  back/src/main/java/com/github/oneline/onelinecourse/model/bookmark/Bookmark.java
Labels: Back-End, Bookmark, Lecture, User

#73 docs(back): Swagger API 추가(댓글, 강의)(#47)
  back/pom.xml
  back/src/main/java/com/github/oneline/onelinecourse/configuration/Swagger2Config.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/comment/CommentController.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/comment/CommentCreateRequest.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/comment/CommentResponse.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/comment/CommentUpdateRequest.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/lecture/LectureController.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/lecture/LectureResponse.java
  back/src/main/java/com/github/oneline/onelinecourse/model/comment/Comment.java
  back/src/main/java/com/github/oneline/onelinecourse/model/lecture/Lecture.java
Labels: Back-End

#72 test(back): 댓글 테스트코드 추가(#57)
  back/pom.xml
  back/src/main/java/com/github/oneline/onelinecourse/model/comment/Comment.java
  back/src/test/java/com/github/oneline/onelinecourse/service/comment/CommentServiceTest.java
Labels: Back-End, TestCode

#85 refactor(back): 강의조회 응답코드 수정(#10)
  back/src/main/java/com/github/oneline/onelinecourse/controller/comment/CommentController.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/lecture/LectureController.java
Labels: Back-End, Lecture

#86 refactor(back): 댓글조회 응답코드 수정(#11)
  back/src/main/java/com/github/oneline/onelinecourse/controller/comment/CommentController.java
Labels: Back-End, Comment

#87 refactor(back): 중복 코드 제거(#75)
  back/src/main/java/com/github/oneline/onelinecourse/controller/comment/CommentController.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/lecture/LectureController.java
  back/src/main/java/com/github/oneline/onelinecourse/util/InflearnCrawling.java
  back/src/main/java/com/github/oneline/onelinecourse/util/InflearnVo.java
  back/src/main/java/com/github/oneline/onelinecourse/util/StatusCode.java
Labels: Back-End

#76 feat(back): 유저 로그인 일부 수정(#9)
  back/src/main/java/com/github/oneline/onelinecourse/controller/user/UserController.java
  back/src/main/java/com/github/oneline/onelinecourse/model/user/User.java
  back/src/main/java/com/github/oneline/onelinecourse/repository/user/UserRepository.java
  back/src/main/java/com/github/oneline/onelinecourse/service/user/UserService.java
Labels: Back-End, User

#61 feat(back): 북마크 일부 수정(#12, #14)
  .idea/modules.xml
  .idea/one-line-course.iml
  .idea/vcs.xml
  .idea/workspace.xml
  back/src/main/java/com/github/oneline/onelinecourse/controller/bookmark/BookmarkController.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/bookmark/CreateBookmarkRequestDto.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/bookmark/ResponseBookmarkDto.java
  back/src/main/java/com/github/oneline/onelinecourse/model/bookmark/Bookmark.java
  back/src/main/java/com/github/oneline/onelinecourse/repository/bookmark/BookmarkRepository.java
  back/src/main/java/com/github/oneline/onelinecourse/service/bookmark/BookmarkService.java
Labels: Back-End, Bookmark
