Repository JuHyun419/one-line-course, pull requests merged in 2021-05, with the labels that each got.

#93 docs(back): Swagger API 추가(유저, 북마크)(#47)
  back/src/main/java/com/github/oneline/onelinecourse/controller/bookmark/BookmarkController.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/bookmark/CreateBookmarkRequestDto.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/user/CreateUserRequestDto.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/user/ResponseUserDto.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/user/UserController.java
Labels: Back-End, Bookmark, User

#103 feat(back): 유저 로그인 일부 수정(#9)
  back/src/main/java/com/github/oneline/onelinecourse/controller/user/UserController.java
Labels: Back-End, User

#111 feat(back): Github Action yml 파일 추가(#109)
  .github/workflows/github-action.yml
Labels: Back-End, Infra

#113 refactor(back): 코드 리팩토링
  back/src/main/java/com/github/oneline/onelinecourse/controller/bookmark/BookmarkController.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/bookmark/BookmarkCreateRequest.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/bookmark/BookmarkResponse.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/comment/CommentResponse.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/lecture/LectureResponse.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/user/UserController.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/user/UserCreateRequest.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/user/UserResponse.java
Labels: Back-End

#114 test(back): 깃허브 액션 빌드 테스트
  .github/workflows/github-action.yml
Labels: Back-End

#116 feat(back): 댓글 전체 삭제 기능 추가(#11)
  back/src/main/java/com/github/oneline/onelinecourse/controller/comment/CommentController.java
  back/src/main/java/com/github/oneline/onelinecourse/service/comment/CommentService.java
Labels: Back-End, Comment

#117 feat(back): 북마크 전체 삭제 기능 추가(#12,#14)
  back/src/main/java/com/github/oneline/onelinecourse/configuration/Swagger2Config.java
  back/src/main/java/com/github/oneline/onelinecourse/controller/bookmark/BookmarkController.java
  back/src/main/java/com/github/oneline/onelinecourse/service/bookmark/BookmarkService.java
Labels: Back-End, Bookmark

#118 refactor(back): CORS 설정 allowedmethod 추가
  back/src/main/java/com/github/oneline/onelinecourse/configuration/WebConfig.java
Labels: Back-End, Front-End

#115 test(back): 깃헙 액션 - 현재 시간 출력하는 명령어 추가
  .github/workflows/github-action.yml
  back/src/main/resources/application.properties
Labels: Back-End
